---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<div class="p-6 max-w-sm mx-auto bg-white border-4 border-blue rounded-xl shadow-md flex-cold items-center space-x-0.5">
		<div class="flex-shrink-0">
			<div class="w-20 h-20 overflow-hidden rounded-full">
				<img src="clarence.png" alt="clarence.png" class="w-20px h- object-cover"/>
			  </div>
		</div>
		<div>
		  <div class="text-xl font-medium text-black text-center">Clarence</div>
		  <p class="text-gray-500 text-auto">Es obeso, rubio, tiene una personalidad inocente, divertida y despierta simpatía en la mayoría de la gente, a la vez que él es incapaz de no querer a otras personas y siempre ve lo mejor en cada uno, exceptuando a su abuela materna que hasta ahora ha sido la única persona por quien no es capaz de sentir la simpatía.!</p>
		</div>
	  </div>
</Layout>